.poster{
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}
.info{
    margin-top: 30px;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
}
.info>ul{
    padding-left: 20px;
    padding-right: 20px;
}
.name{
    padding: 5px;
    background-color: grey;
}
.info h5{
    margin-top: 15px;
    cursor: pointer;
}
.images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.images img{
    width: 100px;
    padding: 5px;
    object-fit: cover;
}
.summary{
    margin-top: 15px;
    font-size: larger;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}
li{
    list-style: none;
}