.poster{
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}
.info{
    margin-top: 30px;
}
.name{
    background-color: orange;
    padding: 5px;
}
.summary{
    margin-top: 15px;
    font-size: larger;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}