.pagination{
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.button{
    border: none;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
}
.buttons{
    display: block;
    margin-bottom: 30px;
}
.active__page{
   color: #ffc107 !important;
   font-size: 25px !important;
}
.active__shows{
    color: #343a40 !important;
    font-size: 25px !important;
 }
 @media screen and (max-width: 767px){
    .button{
        margin-bottom: 8px;
        font-size: 14px;
    }
    .active__page, .active__shows{
        font-size: 21px !important;
    }
 }
 @media screen and (max-width: 527px){
    .button{
        font-size: 13px;
    }
    .active__page, .active__shows{
        font-size: 20px !important;
    }
}