.list{
    position: absolute;
    top: 50px;
    z-index: 1;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 20px;
    background-color: #343a40;
    opacity: 0.9;
}
.list a{
    color: #ffc107;
}
a:last-child>li{
    padding-bottom: 10px;
}